body 
{
    background-image: url("photos/racc.png");
    background-repeat: repeat;
    background-size: cover;
}
p
{
    font-family: "Rubik Glitch", system-ui;
    font-size: 32;
}
.title
{
    color: white;
    border: 5px solid darkblue;
    padding: 20px 30px;
    width: 95%;
    text-align: center;
}
.wrapper 
{
    display: flex;
    justify-content:center;
    gap: 40px;
    margin-top:40px;
}
.photo
{
    position: relative;
    width:400px;
    height: 400px;
    border: 6px solid darkblue;
    overflow: hidden;
}
.photo-img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hover-img 
{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.photo:hover .hover-img 
{
    opacity: 1;
}
.fade1 
{
    object-position: center 10%;
}
.fade2
{
    object-position: left 10%;
    
}